@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}
.logo{
  display: flex;
  align-items: center;
  padding: 20px;
}

h1{
  color: #125B93;
  font-family: 'Kanit';
}

body{
  height: 100vh;
  width: 100%;
  background-color: linear-gradient(90deg, #ffff 10%, #128FED 90%);
  position: fixed;
}
h2{
  font-size: 62px;
  margin-top: 5rem;
}
